.layout__contact {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  padding-top: 14rem;
  padding-bottom: 10rem;
}

.layout__contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  z-index: -1;
}

.contact__container {
  max-width: var(--mx-width);
  margin: 0 auto;
  overflow: hidden;
}

.contact__header {
  margin-bottom: 6.5rem;
  text-align: center;
}

.contact__subtitle {
  display: inline-block;
  color: var(--color-bg-btn);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.contact__title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-size: 6.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-secondary);
}

.contact__btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 2.3rem 5.5rem;
  background-color: var(--color-secondary);
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.contact__btn:hover {
  /* color: var(--color-secondary); */
  background-color: var(--color-bg-btn);
}

.contact__images {
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--color-borders);
}

.contact__thumb {
  display: inline-block;
  position: relative;
}

.contact__thumb--chat {
  margin-right: -18rem;
  margin-bottom: -0.8rem;
}

.contact__thumb--laptop {
  position: absolute;
  bottom: 0;
  left: 16rem;
}

.contact__thumb--mobile {
  position: absolute;
  bottom: 0;
  right: 8rem;
}

.backshapes__item {
  position: absolute;
  z-index: -1;
}

.backshapes--shape1 {
  top: 0;
  left: 32%;
}

.backshapes--shape2 {
  top: 18rem;
  left: 18%;
  opacity: 0.5;
  animation: moveShape3 20s infinite;
}

.backshapes--shape3 {
  top: 31%;
  left: 20%;
  animation: moveShape4 25s infinite;
}

.backshapes--shape4 {
  top: 44%;
  left: 28%;
  animation: moveShape3 25s infinite;
}

.backshapes--shape5 {
  top: 50%;
  right: 17%;
  animation: moveShape4 30s infinite;
}

.backshapes--shape6 {
  top: 26%;
  right: 21%;
  animation: moveShape5 30s infinite;
}

.backshapes--shape7 {
  top: 30%;
  right: 15%;
  animation: moveShape3 30s infinite;
}
/* FOOTER */

.layout__footer{
  padding-top: 1rem;

}

.footer__container{
  max-width: var(--mx-width);
  margin: 0 auto;
}

.footer__top{
  padding-bottom: 7rem;
}

.footer__social{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__img{
  display: inline-block;
  color: var(--color-text-decription);
  font-size: 3rem;
  padding: 0.5rem;
  transition: all 300ms ease-in-out;
}

.social__link:hover > .social__img{
  color: var(--color-text-body);
}

.footer__main{
  display: flex;
  flex-direction: row;
}

.footer__fleft{
  flex-basis: 50%;
}

.fleft__container{
  border-right: 1px solid var(--color-borders);
  padding-right: 8rem;
  margin-right: 4rem;
  margin-bottom: 8rem;
}

.fleft__title{
  display: inline-block ;
  font-size: 6.4rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-title);
  margin-bottom: 2rem;
}

.fleft__subtitle{
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.fleft__group{
  position: relative;
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 20px;
  height: 7.2rem;
  padding: 1rem;
  box-shadow: 0 24px 48px -15px #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fleft__mail-icon{
  display: inline-block;
  margin-left: 2rem;
}

.fleft__form-control{
  position: relative;
  display: block;
  padding: 0.5rem 1.5rem;
  height: auto;
  border: none;
  outline: none;
  color: var(--color-title);
  margin-left: 1rem;
  flex: 1;
}

.fleft__btn{
  height: 5.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 16px;
  padding: 1.4rem 3rem;
  transition: all 300ms ease-in-out;
}

.fleft__btn:hover{
  background-color: var(--color-banner);
}

.footer__fright{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}

.footer__widget{
  margin-bottom: 8rem;
}

.footer__widget--50{
  flex-basis: 50%;
}

.footer__widget--25{
  flex-basis: 25%;
}

.widget__title{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-title);
  margin-bottom: 3rem;
}

.widget__link{
  font-size: 1.8rem;
  padding: 0.8rem 0;
  display: inline-block;
  transition: all 300ms linear;
}

.widget__link:hover{
  color: var(--color-banner);
}

.footer__bottom{
    font-size: 1.7rem;
    border-top: 1px solid var(--color-borders);
    padding: 2.5rem 0;
    display: flex;
}

.footer__copyright{
  flex-basis: 50%;
}

.copyright__text{
  display: inline-block;
  color: var(--color-text-decription);
}

.copyright__text > a {
  display: inline;
}

.footer__links{
  flex-basis: 50%;
}

.footer__flinks{
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 3.5rem;
    color: var(--color-text-description);
}

.flinks__title{
  transition: all 300ms ease-in-out;
}

.flinks__title:hover{
  color: var(--color-banner);
}

.flinks__item{
  display: inline-block;
  position: relative;
}

.flinks__item--separator::after{
  content: "";
  height: 4px;
  width: 4px;
  background-color: var(--color-text-decription);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: -13%;
}